.btn{
    background-color: aqua;
    height:100px;
    width: 100px;
    align-items: center;
    
}
#container{
    justify-self: center;
    margin-top: 20%;
}
/* #btn1{
    margin-left: 350px;
}
#btn4{
    margin-left: 350px;
}
#btn7{
    margin-left: 350px;
} */